{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "REST API"
  },
  "servers": [
    {
      "url": "https://api.lyra.finance",
      "description": "Prod"
    },
    {
      "url": "https://api-demo.lyra.finance",
      "description": "Testnet"
    }
  ],
  "paths": {
    "/public/build_register_session_key_tx": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Build Register Session Key Tx",
        "description": "Build a signable transaction params dictionary.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBuildRegisterSessionKeyTxResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicBuildRegisterSessionKeyTxParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/register_session_key": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Register Session Key",
        "description": "Register or update expiry of an existing session key.<br />Currently, this only supports creating admin level session keys.<br />Keys with fewer permissions are registered via `/register_scoped_session_key`<br /><br />Expiries updated on admin session keys may not happen immediately due to waiting for the onchain transaction to settle.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicRegisterSessionKeyResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicRegisterSessionKeyParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/deregister_session_key": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Deregister Session Key",
        "description": "Used for de-registering admin scoped keys. For other scopes, use `/edit_session_key`.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeregisterSessionKeyResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDeregisterSessionKeyParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/login": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Login",
        "description": "Authenticate a websocket connection. Unavailable via HTTP.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicLoginResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicLoginParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/statistics": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Statistics",
        "description": "Get statistics for a specific instrument or instrument type",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStatisticsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicStatisticsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_all_currencies": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get All Currencies",
        "description": "Get all active currencies with their spot price, spot price 24hrs ago.<br /><br />For real-time updates, recommend using channels -> ticker or orderbook.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetAllCurrenciesResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetAllCurrenciesParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_currency": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Currency",
        "description": "Get currency related risk params, spot price 24hrs ago and lending details for a specific currency.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetCurrencyResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetCurrencyParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_instrument": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Instrument",
        "description": "Get single instrument by asset name",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetInstrumentResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetInstrumentParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_all_instruments": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get All Instruments",
        "description": "Get a paginated history of all instruments",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetAllInstrumentsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetAllInstrumentsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_instruments": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Instruments",
        "description": "Get all active instruments for a given `currency` and `type`.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetInstrumentsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetInstrumentsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_ticker": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Ticker",
        "description": "Get ticker information (best bid / ask, instrument contraints, fees info, etc.) for a single instrument<br /><br />DEPRECATION NOTICE: This RPC is deprecated in favor of `get_tickers` on Dec 1, 2025.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetTickerResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetTickerParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_tickers": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Tickers",
        "description": "Get tickers information (best bid / ask, stats, etc.) for a multiple instruments.<br /><br />For options: currency is required and expiry_date is required.<br />For perps: currency is optional, expiry_date will throw an error.<br />For erc20s: currency is optional, expiry_date will throw an error.<br /><br />For most up to date stream of tickers, use the `ticker.<instrument_name>.<interval>` channels.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetTickersResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetTickersParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_latest_signed_feeds": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Latest Signed Feeds",
        "description": "Get latest signed data feeds",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetLatestSignedFeedsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetLatestSignedFeedsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_option_settlement_prices": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Option Settlement Prices",
        "description": "Get settlement prices by expiry for each currency",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetOptionSettlementPricesResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetOptionSettlementPricesParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_spot_feed_history": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Spot Feed History",
        "description": "Get spot feed history by currency<br /><br />DB: read replica",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetSpotFeedHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetSpotFeedHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_spot_feed_history_candles": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Spot Feed History Candles",
        "description": "Get spot feed history candles by currency<br /><br />DB: read replica",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetSpotFeedHistoryCandlesResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetSpotFeedHistoryCandlesParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_funding_rate_history": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Funding Rate History",
        "description": "Get funding rate history. Start timestamp is restricted to at most 30 days ago.<br />End timestamp greater than current time will be truncated to current time.<br />Zero start timestamp is allowed and will default to 30 days from the end timestamp.<br /><br />DB: read replica",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetFundingRateHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetFundingRateHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_trade_history": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Trade History",
        "description": "Get trade history for a subaccount, with filter parameters.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetTradeHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetTradeHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_option_settlement_history": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Option Settlement History",
        "description": "Get expired option settlement history for a subaccount",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetOptionSettlementHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetOptionSettlementHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_liquidation_history": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Liquidation History",
        "description": "Returns a paginated liquidation history for all subaccounts. Note that the pagination is based on the number of<br />raw events that include bids, auction start, and auction end events. This means that the count returned in the<br />pagination info will be larger than the total number of auction events. This also means the number of returned<br />auctions per page will be smaller than the supplied `page_size`.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetLiquidationHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetLiquidationHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_interest_rate_history": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Interest Rate History",
        "description": "Get latest USDC interest rate history",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetInterestRateHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetInterestRateHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_transaction": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Transaction",
        "description": "Used for getting a transaction by its transaction id",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetTransactionResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetTransactionParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_margin": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Margin",
        "description": "Calculates margin for a given portfolio and (optionally) a simulated state change.<br />Does not take into account open orders margin requirements.public/withdraw_debug",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetMarginResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetMarginParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/margin_watch": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Margin Watch",
        "description": "Calculates MtM and maintenance margin for a given subaccount.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMarginWatchResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicMarginWatchParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_vault_share": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Vault Share",
        "description": "Gets the value of a vault's token against the base currency, underlying currency, and USD for a timestamp range.<br /><br />The name of the vault from the Vault proxy contract is used to fetch the vault's value.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetVaultShareResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetVaultShareParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_vault_statistics": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Vault Statistics",
        "description": "Gets all the latest vault shareRate, totalSupply and TVL values for all vaults.<br /><br />For data on shares across chains, use public/get_vault_assets.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetVaultStatisticsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetVaultStatisticsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_vault_balances": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Vault Balances",
        "description": "Get all vault assets held by user. Can query by smart contract address or smart contract owner.<br /><br />Includes VaultERC20Pool balances",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetVaultBalancesResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetVaultBalancesParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_account": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Account",
        "description": "Account details getter\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetAccountResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetAccountParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/create_subaccount": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Create Subaccount",
        "description": "Create a new subaccount under a given wallet, and deposit an asset into that subaccount.<br /><br />See `public/create_subaccount_debug` for debugging invalid signature issues or go to guides in Documentation.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCreateSubaccountResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCreateSubaccountParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/create_subaccount_debug": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Create Subaccount Debug",
        "description": "Used for debugging only, do not use in production. Will return the incremental encoded and hashed data.<br /><br />See guides in Documentation for more.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCreateSubaccountDebugResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateSubaccountDebugParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_subaccount": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Subaccount",
        "description": "Get open orders, active positions, and collaterals of a subaccount\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetSubaccountResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetSubaccountParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_subaccounts": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Subaccounts",
        "description": "Get all subaccounts of an account / wallet\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetSubaccountsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetSubaccountsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_all_portfolios": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get All Portfolios",
        "description": "Get all portfolios of a wallet\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetAllPortfoliosResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetAllPortfoliosParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/change_subaccount_label": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Change Subaccount Label",
        "description": "Change a user defined label for given subaccount\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateChangeSubaccountLabelResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateChangeSubaccountLabelParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_notifications": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Notifications",
        "description": "Get the notifications related to a subaccount.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetNotificationsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetNotificationsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/update_notifications": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Update Notifications",
        "description": "RPC to mark specified notifications as seen for a given subaccount.\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateUpdateNotificationsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateUpdateNotificationsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/deposit": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Deposit",
        "description": "Deposit an asset to a subaccount.<br /><br />See `public/deposit_debug' for debugging invalid signature issues or go to guides in Documentation.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateDepositResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateDepositParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/deposit_debug": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Deposit Debug",
        "description": "Used for debugging only, do not use in production. Will return the incremental encoded and hashed data.<br /><br />See guides in Documentation for more.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDepositDebugResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDepositDebugParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/withdraw": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Withdraw",
        "description": "Withdraw an asset to wallet.<br /><br />See `public/withdraw_debug` for debugging invalid signature issues or go to guides in Documentation.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateWithdrawResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateWithdrawParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/withdraw_debug": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Withdraw Debug",
        "description": "Used for debugging only, do not use in production. Will return the incremental encoded and hashed data.<br /><br />See guides in Documentation for more.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWithdrawDebugResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicWithdrawDebugParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/transfer_erc20": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Transfer Erc20",
        "description": "Transfer ERC20 assets from one subaccount to another (e.g. USDC or ETH).<br /><br />For transfering positions (e.g. options or perps), use `private/transfer_position` instead.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateTransferErc20ResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateTransferErc20ParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/transfer_position": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Transfer Position",
        "description": "Transfers a positions from one subaccount to another, owned by the same wallet.<br /><br />The transfer is executed as a pair of orders crossing each other.<br />The maker order is created first, followed by a taker order crossing it.<br />The order amounts, limit prices and instrument name must be the same for both orders.<br />Fee is not charged and a zero `max_fee` must be signed.<br />The maker order is forcibly considered to be `reduce_only`, meaning it can only reduce the position size.<br /><br />History: For position transfer history, use the `private/get_trade_history` RPC (not `private/get_erc20_transfer_history`).\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateTransferPositionResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateTransferPositionParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/transfer_positions": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Transfer Positions",
        "description": "Transfers multiple positions from one subaccount to another, owned by the same wallet.<br /><br />The transfer is executed as a an RFQ. A mock RFQ is first created from the taker parameters, followed by a maker quote and a taker execute.<br />The leg amounts, prices and instrument name must be the same in both param payloads.<br />Fee is not charged and a zero `max_fee` must be signed.<br />Every leg in the transfer must be a position reduction for either maker or taker (or both).<br /><br />History: for position transfer history, use the `private/get_trade_history` RPC (not `private/get_erc20_transfer_history`).\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateTransferPositionsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateTransferPositionsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/order": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Order",
        "description": "Create a new order.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateOrderResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateOrderParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/replace": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Replace",
        "description": "Cancel an existing order with nonce or order_id and create new order with different order_id in a single RPC call.<br /><br />If the cancel fails, the new order will not be created.<br />If the cancel succeeds but the new order fails, the old order will still be cancelled.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateReplaceResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateReplaceParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/order_debug": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Order Debug",
        "description": "Debug a new order\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateOrderDebugResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateOrderDebugParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_order": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Order",
        "description": "Get state of an order by order id.  If the order is an MMP order, it will not show up if cancelled/expired.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetOrderResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetOrderParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_orders": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Orders",
        "description": "Get orders for a subaccount, with optional filtering.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetOrdersResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetOrdersParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_open_orders": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Open Orders",
        "description": "Get all open orders of a subacccount\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetOpenOrdersResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetOpenOrdersParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel",
        "description": "Cancel a single order.<br /><br />Other `private/cancel_*` routes are available through both REST and WebSocket.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_all": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel All",
        "description": "Cancel all orders for this instrument.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelAllResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelAllParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_by_label": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel By Label",
        "description": "Cancel all open orders for a given subaccount and a given label.  If instrument_name is provided, only orders for that instrument will be cancelled.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelByLabelResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelByLabelParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_by_nonce": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel By Nonce",
        "description": "Cancel a single order by nonce. Uses up that nonce if the order does not exist, so any future orders with that nonce will fail\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelByNonceResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelByNonceParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_by_instrument": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel By Instrument",
        "description": "Cancel all orders for this instrument.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelByInstrumentResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelByInstrumentParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_trigger_order": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel Trigger Order",
        "description": "Cancels a trigger order.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelTriggerOrderResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelTriggerOrderParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_all_trigger_orders": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel All Trigger Orders",
        "description": "Cancel all trigger orders for this subaccount.<br /><br />Also used by cancel_all in WS.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelAllTriggerOrdersResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelAllTriggerOrdersParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_order_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Order History",
        "description": "Get order history for a subaccount\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetOrderHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetOrderHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_trade_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Trade History",
        "description": "Get trade history for a subaccount, with filter parameters.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetTradeHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetTradeHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_deposit_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Deposit History",
        "description": "Get subaccount deposit history.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetDepositHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetDepositHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_withdrawal_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Withdrawal History",
        "description": "Get subaccount withdrawal history.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetWithdrawalHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetWithdrawalHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/send_rfq": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Send Rfq",
        "description": "Requests two-sided quotes from participating market makers.\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSendRfqResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSendRfqParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_rfq": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel Rfq",
        "description": "Cancels a single RFQ by id.\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelRfqResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelRfqParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_batch_rfqs": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel Batch Rfqs",
        "description": "Cancels RFQs given optional filters.<br />If no filters are provided, all RFQs for the subaccount are cancelled.<br />All filters are combined using `AND` logic, so mutually exclusive filters will result in no RFQs being cancelled.\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelBatchRfqsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelBatchRfqsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_rfqs": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Rfqs",
        "description": "Retrieves a list of RFQs matching filter criteria. Takers can use this to get their open RFQs, RFQ history, etc.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetRfqsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetRfqsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/poll_rfqs": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Poll Rfqs",
        "description": "Retrieves a list of RFQs matching filter criteria. Market makers can use this to poll RFQs directed to them.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivatePollRfqsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivatePollRfqsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/send_quote": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Send Quote",
        "description": "Sends a quote in response to an RFQ request.<br />The legs supplied in the parameters must exactly match those in the RFQ.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSendQuoteResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSendQuoteParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/replace_quote": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Replace Quote",
        "description": "Cancel an existing quote with nonce or quote_id and create new quote with different quote_id in a single RPC call.<br /><br />If the cancel fails, the new quote will not be created.<br />If the cancel succeeds but the new quote fails, the old quote will still be cancelled.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateReplaceQuoteResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateReplaceQuoteParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_quote": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel Quote",
        "description": "Cancels an open quote.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelQuoteResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelQuoteParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/cancel_batch_quotes": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Cancel Batch Quotes",
        "description": "Cancels quotes given optional filters. If no filters are provided, all quotes by the subaccount are cancelled.<br />All filters are combined using `AND` logic, so mutually exclusive filters will result in no quotes being cancelled.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateCancelBatchQuotesResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateCancelBatchQuotesParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_quotes": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Quotes",
        "description": "Retrieves a list of quotes matching filter criteria.<br />Market makers can use this to get their open quotes, quote history, etc.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetQuotesResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetQuotesParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/poll_quotes": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Poll Quotes",
        "description": "Retrieves a list of quotes matching filter criteria.<br />Takers can use this to poll open quotes that they can fill against their open RFQs.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivatePollQuotesResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivatePollQuotesParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/execute_quote": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Execute Quote",
        "description": "Executes a quote.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateExecuteQuoteResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateExecuteQuoteParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/rfq_get_best_quote": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Rfq Get Best Quote",
        "description": "Performs a \"dry run\" on an RFQ, returning the estimated fee and whether the trade is expected to pass.<br /><br />Should any exception be raised in the process of evaluating the trade, a standard RPC error will be returned<br />with the error details.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateRfqGetBestQuoteResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateRfqGetBestQuoteParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/send_quote_debug": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Send Quote Debug",
        "description": "Sends a quote in response to an RFQ request.<br />The legs supplied in the parameters must exactly match those in the RFQ.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicSendQuoteDebugResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicSendQuoteDebugParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/execute_quote_debug": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Execute Quote Debug",
        "description": "Sends a quote in response to an RFQ request.<br />The legs supplied in the parameters must exactly match those in the RFQ.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicExecuteQuoteDebugResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicExecuteQuoteDebugParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_margin": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Margin",
        "description": "Calculates margin for a given subaccount and (optionally) a simulated state change. Does not take into account<br />open orders margin requirements.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetMarginResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetMarginParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_collaterals": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Collaterals",
        "description": "Get collaterals of a subaccount\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetCollateralsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetCollateralsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_positions": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Positions",
        "description": "Get active positions of a subaccount\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetPositionsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetPositionsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_option_settlement_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Option Settlement History",
        "description": "Get expired option settlement history for a subaccount\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetOptionSettlementHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetOptionSettlementHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_subaccount_value_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Subaccount Value History",
        "description": "Get the value history of a subaccount\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetSubaccountValueHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetSubaccountValueHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/expired_and_cancelled_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Expired And Cancelled History",
        "description": "Generate a list of URLs to retrieve archived orders\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateExpiredAndCancelledHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateExpiredAndCancelledHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_funding_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Funding History",
        "description": "Get subaccount funding history.<br /><br />DB: read replica\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetFundingHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetFundingHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_interest_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Interest History",
        "description": "Get subaccount interest payment history.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetInterestHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetInterestHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_erc20_transfer_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Erc20 Transfer History",
        "description": "Get subaccount erc20 transfer history.<br /><br />Position transfers (e.g. options or perps) are treated as trades. Use `private/get_trade_history` for position transfer history.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetErc20TransferHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetErc20TransferHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_liquidation_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Liquidation History",
        "description": "\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetLiquidationHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetLiquidationHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/liquidate": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Liquidate",
        "description": "Liquidates a given subaccount using funds from another subaccount. This endpoint has a few limitations:<br />1. If succesful, the RPC will freeze the caller's subaccount until the bid is settled or is reverted on chain.<br />2. The caller's subaccount must not have any open orders.<br />3. The caller's subaccount must have enough withdrawable cash to cover the bid and the buffer margin requirements.\nRequired minimum session key permission level is `admin`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateLiquidateResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateLiquidateParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_liquidator_history": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Liquidator History",
        "description": "Returns a paginated history of auctions that the subaccount has participated in as a liquidator.\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetLiquidatorHistoryResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetLiquidatorHistoryParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/session_keys": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Session Keys",
        "description": "\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSessionKeysResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSessionKeysParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/edit_session_key": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Edit Session Key",
        "description": "Edits session key parameters such as label and IP whitelist.<br />For non-admin keys you can also toggle whether to disable a particular key.<br />Disabling non-admin keys must be done through /deregister_session_key\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateEditSessionKeyResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateEditSessionKeyParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/register_scoped_session_key": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Register Scoped Session Key",
        "description": "Registers a new session key bounded to a scope without a transaction attached.<br />If you want to register an admin key, you must provide a signed raw transaction.\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateRegisterScopedSessionKeyResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateRegisterScopedSessionKeyParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/get_mmp_config": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Get Mmp Config",
        "description": "Get the current mmp config for a subaccount (optionally filtered by currency)\nRequired minimum session key permission level is `read_only`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateGetMmpConfigResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateGetMmpConfigParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/set_mmp_config": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Set Mmp Config",
        "description": "Set the mmp config for the subaccount and currency\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSetMmpConfigResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSetMmpConfigParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/reset_mmp": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Reset Mmp",
        "description": "Resets (unfreezes) the mmp state for a subaccount (optionally filtered by currency)\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateResetMmpResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateResetMmpParamsSchema"
              }
            }
          }
        }
      }
    },
    "/private/set_cancel_on_disconnect": {
      "post": {
        "tags": [
          "Private"
        ],
        "summary": "Set Cancel On Disconnect",
        "description": "Enables cancel on disconnect for the account\nRequired minimum session key permission level is `account`",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSetCancelOnDisconnectResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSetCancelOnDisconnectParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_time": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Time",
        "description": "",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetTimeResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetTimeParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_live_incidents": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Live Incidents",
        "description": "",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetLiveIncidentsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetLiveIncidentsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_maker_programs": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Maker Programs",
        "description": "Get all maker programs, including past / historical ones.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetMakerProgramsResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetMakerProgramsParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_maker_program_scores": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Maker Program Scores",
        "description": "Get scores breakdown by maker program.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetMakerProgramScoresResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetMakerProgramScoresParamsSchema"
              }
            }
          }
        }
      }
    },
    "/public/get_referral_performance": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get Referral Performance",
        "description": "Get the broker program referral performance. Epochs are 28 days long.",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGetReferralPerformanceResponseSchema"
                }
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGetReferralPerformanceParamsSchema"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublicGetFundingRateHistoryParamsSchema": {
        "properties": {
          "end_timestamp": {
            "title": "end_timestamp",
            "type": "integer",
            "default": 9223372036854776000,
            "description": "End timestamp of the event history (default current time)"
          },
          "instrument_name": {
            "title": "instrument_name",
            "type": "string",
            "description": "Instrument name to return funding history for"
          },
          "period": {
            "title": "period",
            "type": "string",
            "default": 3600,
            "enum": [
              900,
              3600,
              14400,
              28800,
              86400
            ],
            "description": "Period of the funding rate"
          },
          "start_timestamp": {
            "title": "start_timestamp",
            "type": "integer",
            "default": 0,
            "description": "Start timestamp of the event history (default 0)"
          }
        },
        "type": "object",
        "required": [
          "instrument_name"
        ],
        "additionalProperties": false
      },
      "PublicGetFundingRateHistoryResponseSchema": {
        "properties": {
          "id": {
            "oneOf": [
              {
                "title": "",
                "type": "string"
              },
              {
                "title": "",
                "type": "integer"
              }
            ]
          },
          "result": {
            "$ref": "#/components/schemas/PublicGetFundingRateHistoryResultSchema"
          }
        },
        "type": "object",
        "required": [
          "id",
          "result"
        ],
        "additionalProperties": false
      },
      "PublicGetFundingRateHistoryResultSchema": {
        "properties": {
          "funding_rate_history": {
            "title": "funding_rate_history",
            "type": "array",
            "description": "List of funding rates",
            "items": {
              "$ref": "#/components/schemas/FundingRateSchema"
            }
          }
        },
        "type": "object",
        "required": [
          "funding_rate_history"
        ],
        "additionalProperties": false
      },
      "FundingRateSchema": {
        "properties": {
          "funding_rate": {
            "title": "funding_rate",
            "type": "string",
            "format": "decimal",
            "description": "Hourly funding rate value at the event time"
          },
          "timestamp": {
            "title": "timestamp",
            "type": "integer",
            "description": "Timestamp of the funding rate update (in ms since UNIX epoch)"
          }
        },
        "type": "object",
        "required": [
          "funding_rate",
          "timestamp"
        ],
        "additionalProperties": false
      },
      "PrivateEditSessionKeyParamsSchema": {
        "properties": {
          "disable": {
            "title": "disable",
            "type": "boolean",
            "default": false,
            "description": "Flag whether or not to disable to session key. Defaulted to false. Only allowed for non-admin keys. Admin keys must go through `/deregister_session_key` for now."
          },
          "ip_whitelist": {
            "title": "ip_whitelist",
            "type": "array",
            "default": null,
            "description": "Optional list of whitelisted IPs, an empty list can be supplied to whitelist all IPs",
            "items": {
              "title": "ip_whitelist",
              "type": "string"
            },
            "nullable": true
          },
          "label": {
            "title": "label",
            "type": "string",
            "default": null,
            "description": "Optional new label for the session key",
            "nullable": true
          },
          "public_session_key": {
            "title": "public_session_key",
[...]
